/***************************
About Philgood Page Styles 
****************************/

.page-template-template-profile{
	.hero-image{
		img{
			width: 100% !important;
		}
	}

	.site-content{
		width: 100%;

		.profile-info{
			color: black !important;
		}
		.profile-lead{
			background: #999 !important;
		}
	}

	.profile-details{
		min-height: 150px;

		.profile-info{
			top: 20%;
		}
	}
}