/********************
Global Styles 
********************/

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

.page_item{
	a{
		&:hover, &:focus, &:active{
			background: $lightGray;
			color: white !important;
		}
	}
}