/********************
Global Styles 
********************/

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

.contrast-sb-dark-bg-dark .site-header h1{
	color: #5b5b5b;
}

.logo{
	cursor: pointer;
	position: relative;

	.logo-overlay{
		background: transparent;
		height: 100%;
		left: 0;
		position: absolute;
		transition: all .05s ease-in-out;
		top: 0;
		width: 100%;

		&:hover{
			background: rgba(255,255,255, .15);
		}
	}
}

.page_item{
	a{
		&:hover, &:focus, &:active{
			background: $lightGray;
			color: white !important;
		}
	}
}

.header-social-icons{
	li{
		a{
			&:hover{
				span{
					color: $pink !important;
				}
			}
		}
	}
}

.submit, .wpcf7-submit{
	color: #444 !important;

	&:hover{
		background: $pink !important;
	}
}