/********************
Home Page Styles 
********************/

.home{
	.site{
		height: 100%;
		width: 100%;

		.site-wrapper{
			height: 100%;
			width: 100%;

			.site-content{
				height: 100%;
				width: 100%;				

				.content-area{
					height: 100%;
					width: 100%;

					.site-main{
						height: 100%;
						overflow: hidden !important;
						width: 100%;
					}
				}
			}
		}
	}

	.site-header{
		display: none;
	}
	.site-footer{
		display: none;
	}

	.full-screen-video{
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		height: 100%;
		position: relative;
		width: 100%;

		.covervid-video{
			
		}
	}
}

.home-center-logo{
	left: 50% !important;
	position: absolute !important;
	top: 50% !important;
	z-index: 999 !important;
	-webkit-transform: translate(-50%,-50%) !important;
	-ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;

    @media(max-width: 767px){
    	width: 80% !important;
    }
}